<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>
    <p class="logo-upper">WERJ</p>
    <hr>
    <h1>Identification</h1>
    <form action="../modele/connexionn.php" method="post">
        <label >Votre mail</label><br>
        <input type ="email" name="mail" placeholder="Tapez votre mail"><br><br>
        <label >Mot de passe</label><br>
        <input type="password" name="password" placeholder="Tapez votre Mot de passe"><br><br>
        <input class="button-submit" type="submit" value="Connexion">
    </form>
    <br><br><br>
    <P style="margin-left: 43%; color: black">&copy;WERJ 2022|Powered by Groupe 1 Bachelor 2 ECE</P>
</body>
</html>